<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tab_inf_gerais" data-toggle="tab">INFORMAÇÕES GERAIS</a></li>
  <li role="presentation"><a href="#tab_endereco" data-toggle="tab">ENDEREÇO</a></li>
  <li role="presentation"><a href="#tab_contato" data-toggle="tab">CONTATO</a></li>
  <li role="presentation"><a href="#tab_banco" data-toggle="tab">DADOS BANCÁRIOS</a></li>
  <li role="presentation"><a href="#tab_documento" data-toggle="tab">DOCUMENTOS ADICIONAIS</a></li>
</ul>